@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.css-152mnda-MuiInputBase-input-MuiOutlinedInput-input {
    height: 60px !important;
}